<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>
<%= link_to 'Search Room',new_hotel_booking_path(@hotel), class: "btn-success decoration_btn" %>

<!-- <a href="/hotels/<%= @hotel.id%>/bookings/search_rooms">Search Roomssssss</a> -->

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
